<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>高校食堂管理系统</title>
</head>
<body>
<div class="col-md-3 left_col">
    <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
            <a href="index.html" class="site_title"><i class="fa fa-paw"></i> <span>高校食堂管理系统</span></a>
        </div>

        <div class="clearfix"></div>

        <!-- menu profile quick info -->
        <div class="profile clearfix">
            <div class="profile_pic">
                <img src="${ctxPath}/user/get-user-avatar" alt="头像" class="img-circle profile_img"
                     onerror="this.src='${ctxPath}/static/avatar/496b3ace787342f7954b7045b8b06804.jpeg'">
            </div>
            <div class="profile_info">
                <span>您好</span>

                <% if(user.name==null) {%>
                <h2>${user.username}</h2>
                <%}%>
                <% else { %>
                <h2>${user.name}</h2>
                <%}%>

            </div>
        </div>
        <!-- /menu profile quick info -->

        <br/>

        <!-- sidebar menu -->
        <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
            <div class="menu_section">
                <ul class="nav side-menu">
                    <li><a href="${ctxPath}/main"><i class="fa fa-home"></i> 系统主页 </a></li>

                    <%if(vison.hasRole("admin")){%>
                    <li><a><i class="fa fa-gear "></i> 系统管理 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a id="usermanagement" href="${ctxPath}/user/list">用户管理</a></li>
                            <li><a id="rolemanagement" href="${ctxPath}/role/list">角色管理</a></li>
                        </ul>
                    </li>
                    <%}%>

                    <%if(vison.hasRole("admin")){%>
                    <li><a><i class="fa fa-skyatlas" aria-hidden="true"></i> 系统监控 <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="${ctxPath}/session/">在线用户</a></li>
                        </ul>
                    </li>
                    <%}%>

                    <li><a><i class="fa fa-table"></i> 食堂进销 <span class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="tables.html">蔬菜数据</a></li>
                            <li><a href="tables_dynamic.html">肉类数据</a></li>
                            <li><a href="tables_dynamic.html">粮油杂货数据</a></li>
                        </ul>
                    </li>

                    <li><a><i class="fa fa-money"></i> 个人消费 </a></li>

                    <li><a><i class="fa fa-send-o" aria-hidden="true"></i> 网络资源 <span
                            class="fa fa-chevron-down"></span></a>
                        <ul class="nav child_menu">
                            <li><a href="${ctxPath}/weather/">天气查询</a></li>
                            <li><a href="${ctxPath}/one/essay">散文</a></li>
                            <li><a href="${ctxPath}/one/yuwen">每日美文</a></li>
                            <li><a href="${ctxPath}/movie/hot">正在热映</a></li>
                            <li><a href="${ctxPath}/movie/coming">即将上映</a></li>
                            <li><a href="${ctxPath}/one/painting">绘画</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>