<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<!-- footer content -->
<footer>
    <div class="row" style="text-align: center">
        <h5><i class="fa fa-paw"></i>高校食堂管理系统</h5>
        <p>©2018 All Rights Reserved. Vison</p>
        联系方式:&nbsp;&nbsp;
        <a href="https://github.com/SniperVison"
           target="_blank" style="color: blue; text-decoration: none">Vison's GitHub</a>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->
</body>
</html>