<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vison.canteen.core.mapper.ComsumeMapper">

    <resultMap id="BaseResultMap" type="com.vison.canteen.core.bean.PO.ComsumePO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="card" jdbcType="BIGINT" property="card"/>
        <result column="money" jdbcType="DECIMAL" property="money"/>
        <result column="status" jdbcType="INTEGER" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <select id="getAllComsume" resultMap="BaseResultMap">
    SELECT *
    FROM comsume_info;
    </select>

    <select id="getComsumeByCard" resultMap="BaseResultMap">
        SELECT *
        FROM comsume_info
        WHERE card = #{card};
    </select>
    <select id="getComsumeMoney" resultType="java.lang.Double">
        SELECT SUM(money)
        FROM  comsume_info
        WHERE card = #{card};
    </select>


</mapper>
