<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vison.canteen.core.mapper.VegetableMapper">

    <resultMap id="BaseResultMap" type="com.vison.canteen.core.bean.PO.VegetablePO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="stock" jdbcType="INTEGER" property="stock"/>
        <result column="unit" jdbcType="VARCHAR" property="unit"/>
        <result column="shelf_life" jdbcType="INTEGER" property="shelfLife"/>
        <result column="whole_saler" jdbcType="VARCHAR" property="wholeSaler"/>
        <result column="updator" jdbcType="VARCHAR" property="updator"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime"/>
    </resultMap>

    <select id="getAllVegetable" resultMap="BaseResultMap">
    SELECT *
    FROM vegetable_info;
    </select>

    <select id="checkVegetableName" resultMap="BaseResultMap">
        SELECT *
        FROM vegetable_info
        WHERE name = #{name};
    </select>


</mapper>
